* { box-sizing: border-box; font-family: Arial, sans-serif; }

body { margin: 0; background: #f1f5f2; }

#loginBox {
  width: 320px;
  margin: 120px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
}

header {
  background: #2d6a4f;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.hero {
  background: linear-gradient(to right,#52b788,#40916c);
  color: white;
  padding: 50px;
  text-align: center;
}

.filter { text-align: center; margin: 20px; }

.filter button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  background: #40916c;
  color: white;
}

.products { padding: 40px; }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap: 25px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.card:hover { transform: translateY(-6px); }

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

footer {
  background: #1b4332;
  color: white;
  text-align: center;
  padding: 15px;
}
